<section class="case-article case-article_ask">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Задайте свой вопрос</h2>
      <div class="forms">
        <%= render partial: 'questions/form' %>
      </div>
    </div>
  </div>
</section>
<%= render 'social_buttons_mobile' %>
