= render 'wholesalers/popups/login'
.register
  = render 'wholesalers/popups/register'
.forgot 
  = render 'wholesalers/popups/forgot'
= render 'wholesalers/popups/forgot_success'
= render 'wholesalers/popups/success'
= render 'wholesalers/popups/welcome'
