<section class="case-article covered darkstyle" style="background: #566069;">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Оптовый заказ косметики Honey Bunny</h2>
      <div class="text">
        <p>Спасибо за ваш интерес к нашей косметике! Чтобы оформить оптовый заказ, сообщите нам свои реквизиты, контактную информацию и пожелания по доставке. В ответ мы выставим вам счет, где вы увидите оптовые цены.
        <br /> По всем вопросам пишите на почту <a href="mailto:myhoneybunny.ru@gmail.com">myhoneybunny.ru@gmail.com</a>.</p>
      </div>
    </div>
  </div>
</section>
<section class="case-cart">    
  <div class="case-row case-cart-payment">
    <div class="container globalwidth">
      <div class="switcher-wrap">
        <div class="switcher table">
          <div class="switcher-cnt tr">
            
              <label class="td">
                <%= link_to new_wholesaler_session_path do %>
                <i class="icon icon-money"></i>
                <span class="title">Войти и сделать заказ</span>
                <% end %>
              </label>
            
            
              <label class="td">
                <%= link_to new_wholesaler_path do %>
                <i class="icon icon-money"></i>
                <span class="title">Я - новый заказчик</span>
                <% end %>
              </label>
            
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button class="btn btn-orn" type="submit">Отправить заказ</button>
      </div>
    </div>
  </div>
</section>