<section class="case-shops">
  <div class="container globalwidth">
    <div class="case-capt center">
      <h2>Наши магазины в <a href="#">Москве</a></h2>
    </div>
    <div class="case-cnt">
      <div class="list">
        <table>
          <tr>
            <td class="numb">1</td>
            <td class="logo hidden-tablet"><img width="65" height="65" src="/images/shop1.jpg" alt="" /></td>
            <td class="info">
              <p class="ttl">Магазин косметикии аксессуаров</p>
              <p class="addr">Подсосенский пер. 21/5</p>
              <p class="map"><a class="link" href="#">На карте</a></p>
            </td>
            <td class="contact hidden-tablet">
              <p class="tel">Тел: 8 (927) 026 10 27</p>
              <p class="mail"><a class="link" href="#">hello@myhoneybunny.ru</a></p>
            </td>
            <td class="note">
              <div class="status">
                <i class="icon icon-verify"></i>
                <p class="ttl hidden-tablet">Официальный магазин H•B</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="numb">2</td>
            <td class="logo hidden-tablet"><img width="65" height="65" src="/images/shop2.jpg" alt="" /></td>
            <td class="info">
              <p class="ttl">Косметика и салон красоты BB’s</p>
              <p class="addr">Старопименовский пер. 6</p>
              <p class="map"><a class="link" href="#">На карте</a></p>
            </td>
            <td class="contact hidden-tablet">
              <p class="tel">Тел: 8 (495) 699-20-51</p>
              <p class="mail"><a class="link" href="#">hello@bling-blings.ru</a></p>
            </td>
            <td class="note">
              <div class="status">
                <i class="icon icon-verify"></i>
                <p class="ttl hidden-tablet">Официальный магазин H•B</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="numb">3</td>
            <td class="logo hidden-tablet"><img width="65" height="65" src="/images/shop3.jpg" alt="" /></td>
            <td class="info">
              <p class="ttl">Web Cosmetics</p>
              <p class="addr">Проспект Колосова 201</p>
              <p class="map"><a class="link" href="#">На карте</a></p>
            </td>
            <td class="contact hidden-tablet">
              <p class="tel">Тел: 8 (927) 026 10 27</p>
              <p class="mail"><a class="link" href="#">hello@something.ru</a></p>
            </td>
            <td class="note">
              <div class="status">
                <i class="icon icon-verify"></i>
                <p class="ttl hidden-tablet">Официальный магазин H•B</p>
              </div>
            </td>
          </tr>
          <tr class="hidden-tablet">
            <td class="numb">4</td>
            <td class="logo hidden-tablet"><img width="65" height="65" src="/images/shop4.jpg" alt="" /></td>
            <td class="info">
              <p class="ttl">Lunifera</p>
              <p class="addr">ул. Четвертый перекресток 20</p>
              <p class="map"><a class="link" href="#">На карте</a></p>
            </td>
            <td class="contact hidden-tablet">
              <p class="tel">Тел: 8 (927) 026 10 27</p>
              <p class="mail"><a class="link" href="#">hello@lunifera.com</a></p>
            </td>
            <td class="note">
              <div class="status">
                <i class="icon icon-verify"></i>
                <p class="ttl hidden-tablet">Официальный магазин H•B</p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="btn-wrap">
        <a class="btn btn-more btn-gry-cut" href="#"><span class="hidden-tablet">Показать еще 10 магазинов</span><span class="hidden visible-tablet">Еще 3 магазина</span></a>
      </div>
    </div>
  </div>
</section>