<section class="case-thanks">
  <div class="container globalwidth">
    <div class="wrapper">
      <%= link_to '', root_path, class: 'logo' %>
      <div class="capt">Вы отменили оплату,<br />либо произошла ошибка.</div>
      <p>Наши менеджеры свяжутся с вами, чтобы уточнить статус заказа.</p>
      <br />
      <br />
      <div class="return"><%= link_to 'Обратно в магазин', root_path %></div>
      <div class="copyright">© 2015 Honey-Bunny</div>
    </div>
  </div>
</section>