<section class="case-thanks">
  <div class="container globalwidth">
    <div class="wrapper">
      <%= link_to '', root_path, class: 'logo' %>
      <div class="capt">Благодарим вас<br /> за покупку</div>
      <div class="return"><%= link_to 'Обратно в магазин', root_path %></div>
      <div class="copyright">© 2014 Honey-Bunny</div>
    </div>
  </div>
</section>