<section class="case-worth">
  <div class="container">
    <ul class="items">
      <li class="item current">
        <div class="item-cnt">
          <i class="icon icon-worth1"></i>
          <div class="ttl subtitle">Качественная</div>
          <div class="descript">Мы используем лучшие европейские ингредиенты</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth2"></i>
          <div class="ttl subtitle">Минималистичная</div>
          <div class="descript">Наши формулы простые и эффективные, мы не добавляем ничего лишнего, например, красители</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth3"></i>
          <div class="ttl subtitle">Сбалансированная</div>
          <div class="descript">Мы нашли баланс между натуральными и синтетическими компонентами</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth4"></i>
          <div class="ttl subtitle">Для России</div>
          <div class="descript">Наша косметика адаптирована под нашу среду: воду, климат, перепады температур</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth5"></i>
          <div class="ttl subtitle">Совместима</div>
          <div class="descript">Вы можете использовать наши продукты с косметикой других марок</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth6"></i>
          <div class="ttl subtitle">Доступная</div>
          <div class="descript">За счет местного производства мы добились хорошей цены</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth7"></i>
          <div class="ttl subtitle">Востребованная</div>
          <div class="descript">Мы производим только те продукты, которые востребованы в России</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth8"></i>
          <div class="ttl subtitle">Для нашего типа кожи и волос</div>
          <div class="descript">Мы учли особенности именно российских клиентов</div>
        </div>
      </li>
    </ul>
    <div class="pagination hidden visible-tablet">
      <a class="selected" href="#"><span>1</span></a><a href="#">
      <span>2</span></a><a href="#">
      <span>3</span></a><a href="#">
      <span>4</span></a><a href="#">
      <span>5</span></a><a href="#">
      <span>6</span></a><a href="#">
      <span>7</span></a><a href="#">
      <span>8</span></a>
    </div>
  </div>
</section>

<%= render 'social_panel' %>
<%= render_blocks @page.blocks, namespace: :pages %>