<section class="case-worth">
  <div class="container">
    <ul class="items">
      <li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth1"></i>
          <div class="ttl subtitle">Качественная</div>
          <div class="descript">Мы используем лучшие европейские ингредиенты</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth2"></i>
          <div class="ttl subtitle">Минималистичная</div>
          <div class="descript">Наши формулы простые и эффективные, мы не добавляем ничего лишнего, например, красители</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth3"></i>
          <div class="ttl subtitle">Сбалансированная</div>
          <div class="descript">Мы нашли баланс между натуральными и синтетическими компонентами</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth4"></i>
          <div class="ttl subtitle">Для России</div>
          <div class="descript">Косметика адаптирована под нашу среду: воду, климат, перепады температур</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth5"></i>
          <div class="ttl subtitle">Совместима</div>
          <div class="descript">Вы можете использовать наши продукты с косметикой других марок</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth6"></i>
          <div class="ttl subtitle">Доступная</div>
          <div class="descript">За счет местного производства мы добились хорошей цены</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth7"></i>
          <div class="ttl subtitle">Востребованная</div>
          <div class="descript">Мы производим только те продукты, которые нужнее всего</div>
        </div>
      </li><li class="item">
        <div class="item-cnt">
          <i class="icon icon-worth8"></i>
          <div class="ttl subtitle">Для нашего типа кожи и волос</div>
          <div class="descript">Мы учли особенности именно российских клиентов</div>
        </div>
      </li>
    </ul>
  </div>
</section>

<%= render_blocks @page.blocks, namespace: :pages %>