development: &defaults
  merchant_id: 'xxx'
  signature: 'xxx'
  service_url: 'https://merchant.w1.ru/checkout/default.aspx'

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults