<section class="case-article">
  <div class="container globalwidth">
    <div class="wrapper">
      <div class="text quote">
        <%= sanitize_and_paragraph_block block.text %>
      </div>
    </div>
  </div>
</section>