<section class="case-article case-article_quote">
  <div class="container globalwidth">
    <div class="wrapper">
      <div class="text">
        <%= sanitize_and_paragraph_block block.text %>
      </div>
    </div>
  </div>
</section>