@font-face {
	font-family: 'arkadia';
	src: asset-url('LTRT.eot');
	src: asset-url('LTRT.eot?#iefix') format('embedded-opentype'),
		 asset-url('LTRT.woff2') format('woff2'),
		 asset-url('LTRT.woff') format('woff'),
		 asset-url('LTRT.ttf') format('truetype'),
		 asset-url('LTRT.svg#arkadiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arkadia';
	src: asset-url('LTRTB.eot');
	src: asset-url('LTRTB.eot?#iefix') format('embedded-opentype'),
		 asset-url('LTRTB.woff2') format('woff2'),
		 asset-url('LTRTB.woff') format('woff'),
		 asset-url('LTRTB.ttf') format('truetype'),
		 asset-url('LTRTB.svg#arkadiabold') format('svg');
	font-weight: bold;
	font-style: normal;
}