@font-face {
	font-family: 'arkadia';
	src: asset-url('LTRT.eot');
	src: asset-url('LTRT.eot?#iefix') format('embedded-opentype'),
		 asset-url('LTRT.woff2') format('woff2'),
		 asset-url('LTRT.woff') format('woff'),
		 asset-url('LTRT.ttf') format('truetype'),
		 asset-url('LTRT.svg#arkadiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arkadia';
	src: asset-url('LTRTB.eot');
	src: asset-url('LTRTB.eot?#iefix') format('embedded-opentype'),
		 asset-url('LTRTB.woff2') format('woff2'),
		 asset-url('LTRTB.woff') format('woff'),
		 asset-url('LTRTB.ttf') format('truetype'),
		 asset-url('LTRTB.svg#arkadiabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

// Flaticons
@font-face {
	font-family: 'Flaticon';
	src: asset-url('flaticons/flaticon.eot');
	src: asset-url('flaticons/flaticon.eot?#iefix') format('embedded-opentype'),
		 asset-url('flaticons/flaticon.woff2') format('woff2'),
		 asset-url('flaticons/flaticon.woff') format('woff'),
		 asset-url('flaticons/flaticon.ttf') format('truetype'),
		 asset-url('flaticons/flaticon.svg#arkadiabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    //margin-left: 20px;
}

.flaticon-left217:before {
	content: "\e000";
}

.flaticon-ruble:before {
    content: "\e001";
}
