<%= render 'social_panel' %>
<section class="case-faq">
  <div class="container globalwidth">
    <div class="wrapper">
      <ul class="items">
        <%= render partial: 'faq/faq', collection: @faqs %>
      </ul>
    </div>
  </div>
</section>
<section class="case-article case-article_ask hidden-tablet">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Задать свой вопрос</h2>
      <div class="forms">
        <form method="post" action="">
          <div class="field"><textarea rows="" cols="" placeholder="Введите текст вопроса"></textarea></div>
          <div class="field"><input type="text" placeholder="Как вас зовут?" /></div>
          <div class="field">
            <div class="table">
              <div class="tr">
                <div class="td td1"><input type="text" placeholder="Ваша эл. почта" /></div>
                <div class="td td2"><input type="text" placeholder="Номер телефона для связи" /></div>
              </div>
            </div>
          </div>
          <div class="btn-wrap">
            <button class="btn btn-grn" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="case-products hidden-tablet">
  <div class="container">
    <ul class="items">
      <%= render @items %>
    </ul>
  </div>
</section>
<%= render 'social_buttons_mobile' %>