<section class="case-faq">
  <div class="container globalwidth">
    <div class="wrapper">
      <ul class="items">
        <%= render partial: 'faq/faq', collection: @faqs %>
      </ul>
    </div>
  </div>
</section>
<section class="case-article case-article_ask hidden-tablet">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Задайте свой вопрос</h2>
      <div class="forms">
        <%= render partial: 'questions/form' %>
      </div>
    </div>
  </div>
</section>
<%= render 'social_buttons_mobile' %>