.discount-text
  = image_tag('high_voltage_sign.png')
  | Время подарков от Honey Bunny: скидка 40% на все средства! Акция ограничена по времени, успейте сделать заказ!
  = image_tag('high_voltage_sign.png')
