<section class="case-social hidden visible-tablet">
  <div class="container globalwidth">
    <div class="follow-mob center">
      <a href="<%= Settings::Social.instagram %>" target="_blank"><i class="icon icon-ig_grn"></i></a>
      <a href="<%= Settings::Social.facebook %>" target="_blank"><i class="icon icon-fb_grn"></i></a>
      <a href="<%= Settings::Social.vkontakte %>" target="_blank"><i class="icon icon-vk_grn"></i></a>
    </div>
  </div>
</section>