<section class="case-comments">
  <div class="container globalwidth">
    <div class="case-capt center">
      <h2>Что говорят люди</h2>
      <a class="btn btn-grn-cut popup-with-form" href="#popup-comment">Написать отзыв</a>
    </div>
    <div class="case-cnt">
      <ul class="items">
        <li class="item">
          <div class="preview">
            <figure><img width="122" height="122" src="/images/author1.jpg" alt="" /></figure>
            <div class="author hidden visible-tablet">
              <p class="name">Виктория Шелл</p>
              <p class="post">Домохозяйка</p>
            </div>
          </div>
          <div class="rate hidden-tablet">
            <ul class="stars">
              <li class="star star-fill"></li>
              <li class="star star-fill">2</li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
            </ul>
            <div class="value">Оценка</div>
          </div>
          <div class="info">
            <div class="descript">
              <p>Довольно легкая консистенция, доступная цена, легко распределяется на коже, маскирует небольшие недостатки, матирует, не забивает поры, подстраивается под тон кожи, придаёт здоровое сияние.</p>
            </div>
            <div class="author hidden-tablet">
              <p class="name">Виктория Шелл</p>
              <p class="post">Домохозяйка</p>
            </div>
          </div>
          <div class="chart hidden visible-tablet">
            <table>
              <tr>
                <td><div class="ttl">Эффективность</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Расход</div></td>
                <td><div class="detect"><div class="pct" style="width: 70%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Запах</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
            </table>
          </div>
        </li>
        <li class="item hidden-tablet">
          <div class="preview">
            <figure><img width="122" height="122" src="/images/author2.jpg" alt="" /></figure>
            <div class="author hidden visible-tablet">
              <p class="name">Виктория Шелл</p>
              <p class="post">Домохозяйка</p>
            </div>
          </div>
          <div class="rate hidden-tablet">
            <ul class="stars">
              <li class="star star-fill"></li>
              <li class="star star-fill"></li>
              <li class="star star-fill"></li>
              <li class="star star-fill">4</li>
              <li class="star"></li>
            </ul>
            <div class="value">Оценка</div>
          </div>
          <div class="info">
            <div class="descript">
              <p>Довольно легкая консистенция, доступная цена, легко распределяется на коже, маскирует небольшие недостатки, матирует, не забивает поры, подстраивается под тон кожи, придаёт здоровое сияние, увлажняет кожу. Довольно легкая консистенция, доступная цена, легко распределяется на коже, маскирует небольшие недостатки, матирует, не забивает поры, подстраивается под тон кожи, придаёт здоровое сияние, увлажняет кожу.</p>
            </div>
            <div class="author hidden-tablet">
              <p class="name">Виктория Шелл</p>
              <p class="post">Домохозяйка</p>
            </div>
          </div>
          <div class="chart hidden visible-tablet">
            <table>
              <tr>
                <td><div class="ttl">Эффективность</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Расход</div></td>
                <td><div class="detect"><div class="pct" style="width: 70%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Запах</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
            </table>
          </div>
        </li>
        <li class="item hidden-tablet">
          <div class="preview">
            <figure><img width="122" height="122" src="/images/author3.jpg" alt="" /></figure>
            <div class="author hidden visible-tablet">
              <p class="name">Виктория Шелл</p>
              <p class="post">Домохозяйка</p>
            </div>
          </div>
          <div class="rate hidden-tablet">
            <ul class="stars">
              <li class="star star-fill"></li>
              <li class="star star-fill"></li>
              <li class="star star-fill"></li>
              <li class="star star-fill"></li>
              <li class="star star-fill">5</li>
            </ul>
            <div class="value">Оценка</div>
          </div>
          <div class="info">
            <div class="descript">
              <p>Довольно легкая консистенция, доступная цена, легко распределяется на коже, маскирует небольшие недостатки, матирует, не забивает поры, подстраивается под тон кожи, придаёт здоровое сияние, увлажняет кожу.</p>
            </div>
            <div class="author hidden-tablet">
              <p class="name">Ярослав Самойлов</p>
              <p class="post">Инвестор</p>
            </div>
          </div>
          <div class="chart hidden visible-tablet">
            <table>
              <tr>
                <td><div class="ttl">Эффективность</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Расход</div></td>
                <td><div class="detect"><div class="pct" style="width: 70%;"></div></div></td>
              </tr>
              <tr>
                <td><div class="ttl">Запах</div></td>
                <td><div class="detect"><div class="pct" style="width: 100%;"></div></div></td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
      <div class="btn-wrap">
        <a class="btn btn-more btn-gry-cut hidden-tablet" href="#">Показать еще 3 отзыва</a>
        <a class="btn-refresh hidden visible-tablet" href="#"></a>
      </div>
    </div>
  </div>
</section>