doctype html
html[lang="ru"]
  head
    = render 'gtm_script_head'
    meta[charset="utf-8"]
    meta[name="keywords" content=""]
    meta[name="description" content=""]
    - if controller_name == 'orders'
      meta[name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"]
    - else
      meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    = title_tag
    = meta_tags
    = render 'meta_verification'
    link[rel="shortcut icon" type="image/x-icon" href="/favicon.ico"]
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render 'subscribe'
  body class=('item-feedback item' if controller_name == 'items')
    = render 'gtm_script_body'
    = render 'social_buttons/facebook_header'
    article.page
      header.page-header.page-header-center.page-header-short
        .container.width1040
          = render 'header_top'
      section.page-body
        = yield
      = render 'footer'
    - unless signed_in?
      = render 'popup_login'
    = javascript_include_tag 'application'
    = javascript_block
    = yield(:js) if content_for?(:js)
